.profile__profile-info {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 16px 18px;
  max-width: 425px;
  overflow: hidden;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .profile__profile-info {
    margin-right: 0;
    margin-bottom: 30px;
    gap: 14px 10px;
    max-width: initial;
    max-width: 100%;
    grid-template-columns: 18px 1fr 18px;
  }
}