.profile__name {
  margin: 0;
  font-size: 42px;
  line-height: 1.1428;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    grid-column: 2/3;
    text-align: center;
    max-width: 244px;
    justify-self: center;
  }
}