.profile {
  padding-top: 40px;
  color: #fff;
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  align-items: center;
}

@media (max-width: 767px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 42px;
  }
}