.header__login-info {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222;
  margin-right: 24px;
}

@media (max-width: 767px) {
  .header__login-info {
    margin-right: 0;
    margin-bottom: 18px;
  }
}