.editing-form__button-auth {
  font-weight: 400;
  font-size: 18px;
  border: none;
  height: 50px;
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  line-height: 1.21;
  margin-top: 170px;
  padding: 0;
  transition: opacity .2s ease-out;
  cursor: pointer;
  outline: none;
}

.editing-form__button-auth:hover {
  opacity: .85;
}

@media (max-width: 767px) {
  .editing-form__button-auth {
    font-size: 16px;
    height: 46px;
    margin-top: 124px;
  }
}