.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  height: calc(100vh - 180px);
}

@media (max-width: 767px) {
  .registration {
    height: calc(100vh - 126px);
    padding-top: 42px;
  }
}