.header {
  padding-top: 45px;
  padding-left: 200px;
  padding-right: 200px;
  position: relative;
  transition: all 0.5s ease 0s;
}

@media (max-width: 1060px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 860px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 28px;
    padding-left: 0;
    padding-right: 0;
  }
}